/.idea
/.vscode
/.env
/.env.sample
/.self-update-warp
/docker-compose.yml
.DS_Store
dist/
!dist/warp
!dist/version.md
!dist/sha256sum.md
*.tar.xz
.warp/lib/commit.sh
.warp/lib/version.sh
**/auth.json
/deploy
/.codex/config.toml

